/* Form Layout */
.row-wrapper {
  display: flex;
  margin-left: 1em;
  padding-bottom: .8em;
}
.select-wrapper {
  min-width: 250px;
}
.col {
  padding: 0 .3em;
}
.input-wrapper {
  height: 90%;
  min-width: 200px;
}
.range-wrapper {
  height: 90%;
  max-width: 150px;
}
.bottom-row {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5em;
}

/* Buttons */
button:focus {outline:0;}
.rm-btn {
  border: none;
  border-radius: 3px;
  width: 45px;
}
.txt-btn {
  background-color: #E8E8E8;
  border: none;
  border-radius: 3px;
  margin: 0 .4em;
  width: 45px;
}
.un-btn {
  background-color: #E8E8E8;
  border: none;
  border-radius: 3px;
  height: 100%;
  margin: 0 .4em;
  width: 45px;
}
.add-btn {
  background-color: #1E90FF;
  border-radius: 3px;
  color: white;
  height: 35px;
  text-transform: uppercase;
  width: 90px;
}
.add-btn:hover {
  background-color: #4169E1;
  color: white;
}
.submit-btn {
  background-color: #1E90FF;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 150px;
}
.submit-btn:hover {
  background-color: #4169E1;
  color: white;
}

